body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
.test1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 10px;
}
.test2{
    font-size: 22px;
    text-align: center;
}
.bottom{
    
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 8px 30px ;
    color: white;
    font-weight: 700;
    border-radius: 10px;

    
    
}
.help{
   
    
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image:url(./images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    
   
}
.test0{
    
    color: white;
    
    padding-left: 20%;
    padding-right: 30%;
    padding-top: 15%;
    padding-bottom: 20%;
    margin: 20px; 
    text-align: center;
   
    
}
.title1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10%;
    
}
.title2{
    color: gray;
    text-align: center;
    font-size: 20px;
    
}
.parent-card{
    display: flex;
}
.card1{
    background-color: azure;
    padding: 15px;
   margin: 40px;
    width: 300px;
    height: 220px;
    border: 1px solid grey;
}
.card2{
    background-color: coral;
    padding: 15px;
    margin: 40px;
    width: 300px;
    height: 220px;
    border: 1px solid grey;
}
.card3{
    background-color:cornflowerblue;
    padding: 15px;
    margin: 40px;
    width: 300px;
    height: 220px;
    border: 1px solid grey;
}
.title3{
    text-align: center;
    font-size: 40px;
    font-weight: bold;

}
.text5{
    text-align: center;
    font-size: 20px;
    
}
.box{
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px  gray;
    background-color:white;
}
.rongin-box{
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
 background-color: aliceblue;
 border: 1px solid red;
 border-radius: 5px;
}
.taka{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    
    margin-bottom: 70px;
}
.long-dak{
    text-align: center;
    color:gray;
    margin-left: 10%;
    margin-right: 10%;
}
.bottom1{
    
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 8px 30px ;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.b-parents{
    text-align: center;
    margin-top: 5%;
}
.my-update{
    text-align: center;
    font-size: 40px;
}
.update2{
    color: gray;
    text-align: center;
}
#devolap{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    height: 100px;
    width: 100%;
    padding-top: 10px;
}
#container{
    padding: 50px 130px;
    background-color: bisque;
   
}
#subscribe-botton{
    border: 1px #FFFFFF;
    border-radius: 0%;
    padding: 10px 40px;
    background-color:tomato;
    background-size: cover;
    margin-left: -5px;
}
#email{
    background-color:gray;
    border: 1px gray;
    border-radius: 0%;
    padding: 10px 25px;
    margin-right: -5px;
}
footer{
    padding-left: 10%;
    
    text-align: center;
    background-color:black;
    color: white;
    padding: 10px 0 10px 0;
}
.foot{
    font-size: normal;
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}